* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  margin-top: 80px;
}

.home_header {
  position: relative;
  width: 100%;
  height: 720px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

nav {
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2431372549);
}

.navbar {
  height: 100%;
}
.navbar .logo {
  width: 60px;
  height: 60px;
}
.navbar .nav_hidden {
  transform: translateY(-100%);
}
.navbar .nav_menu {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all;
  transition-duration: 300ms;
  padding-bottom: 50px;
}
.navbar .nav_menu .container .active {
  color: #444444 !important;
}
.navbar .nav_menu .container .sidebar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav_menu .container .sidebar .logo {
  width: 60px;
  height: 60px;
}
.navbar .nav_menu .container .nav_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  font-family: "Nunito", sans-serif;
}
.navbar .nav_menu .container .nav_items .drop_active .dropdown-content {
  display: flex !important;
}
.navbar .nav_menu .container .nav_items .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .nav_menu .container .nav_items .dropdown .dropdown-content {
  display: none;
  position: relative;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  flex-direction: column;
  min-width: 170px;
  padding: 20px 20px 0 20px;
  border-radius: 6px;
  z-index: 1;
  gap: 20px;
  transition: all 200ms;
}
.navbar .nav_menu .container .nav_items .dropdown .dropdown-content a {
  text-decoration: none;
  color: rgba(68, 68, 68, 0.8470588235);
  font-size: 14px;
  font-weight: 400;
  transition: all 300ms;
  line-break: normal;
}
.navbar .nav_menu .container .nav_items .dropdown .dropdown-content a:hover {
  color: #444444;
  margin-left: 5px;
}
.navbar .nav_menu .container .nav_items li .nav_link {
  display: flex;
  align-items: center;
  margin-right: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600 !important;
  color: rgba(68, 68, 68, 0.5450980392);
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar .nav_menu .container .nav_items li .nav_link:hover {
  color: #444444;
}
.navbar .nav_menu .container .nav_items li .nav_link i {
  color: #000000;
  margin-left: 10px;
  margin-bottom: 2px;
}
.navbar .nav_menu .container .nav_items .btn {
  margin-top: 30px;
}
.navbar .nav_menu .container .active_v2 {
  font-weight: 400 !important;
  color: #000000 !important;
}
.navbar .nav_menu .container .btn {
  background-color: #eebd3d;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  transition: all;
  transition-duration: 300ms;
}
.navbar .toggle_open {
  color: #ffffff;
}

.header_content {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
  background-color: rgba(0, 0, 0, 0.631372549);
}
.header_content .container {
  display: flex;
  align-items: center;
}
.header_content .container .header_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 80px;
}
.header_content .container .header_items .title {
  display: flex;
  align-items: flex-end;
}
.header_content .container .header_items .title p {
  font-size: 14px;
}
.header_content .container .header_items h1 {
  margin-top: 15px;
  font-size: 32px;
}
.header_content .container .header_items p {
  font-weight: 300;
  margin-top: 15px;
  font-size: 16px;
  line-height: 26px;
}
.header_content .container .header_items .header_btn {
  display: flex;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
}
.header_content .container .header_items .header_btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3843137255);
  border-radius: 14px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  transition: all;
  transition-duration: 300ms;
}
.header_content .container .header_items .header_btn .btn i {
  margin-right: 10px;
}
.header_content .container .header_items .header_btn .btn:hover {
  background-color: #eebd3d;
}

.ppdb_header {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 100px;
}

.ppdb_header_content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 0 50px 0;
}
.ppdb_header_content .container {
  display: flex !important;
  align-items: center;
}
.ppdb_header_content .container .ppdb_header_content {
  z-index: 1;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_title {
  order: 2;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_title h3 {
  font-size: 16px;
  line-height: 28px;
  color: rgba(68, 68, 68, 0.7568627451);
  font-weight: 300;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_title h1 {
  font-size: 34px;
  color: #444444;
  line-height: 44px;
  font-weight: 800;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_title p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(68, 68, 68, 0.768627451);
  margin-top: 20px;
  line-height: 24px;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_title .btn_group {
  margin-top: 50px;
  flex-direction: column;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_title .btn_group .btn {
  padding: 14px 20px;
  background-color: #eebd3d;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.8039215686);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.ppdb_header_content .container .ppdb_header_content .ppdb_banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ppdb_header_content .blue_circle_blurred,
.ppdb_header_content .yellow_circle_blurred {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  filter: blur(150px);
  position: absolute;
  pointer-events: none;
}
.ppdb_header_content .blue_circle_blurred {
  background-color: rgba(190, 232, 255, 0.6);
  top: -60px;
  right: -120px;
}
.ppdb_header_content .yellow_circle_blurred {
  background-color: rgba(255, 237, 190, 0.6);
  top: 200px;
  left: -120px;
}

.ppdb_about p {
  margin-top: 20px;
  color: rgba(68, 68, 68, 0.6039215686);
  line-height: 26px;
}
.ppdb_about .ppdb_about_list {
  margin-top: 40px;
}
.ppdb_about .ppdb_about_list .ppdb_about_card {
  background-color: rgba(217, 217, 217, 0.2078431373);
  padding: 35px 25px;
  transition: all 400ms;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.ppdb_about .ppdb_about_list .ppdb_about_card:hover {
  background-color: #ffffff;
  border-color: rgba(221, 221, 221, 0.3137254902);
}
.ppdb_about .ppdb_about_list .ppdb_about_card i {
  color: #eebd3d;
  font-size: 44px;
}
.ppdb_about .ppdb_about_list .ppdb_about_card h2 {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  margin-top: 15px;
  line-height: 30px;
}
.ppdb_about .ppdb_about_list .ppdb_about_card p {
  font-size: 12px;
  text-align: justify;
  line-height: 22px;
  color: rgba(68, 68, 68, 0.7803921569);
  margin-top: 0px;
}

.ppdb_syarat .banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ppdb_syarat_container p {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.6039215686);
  line-height: 26px;
  text-align: justify;
}
.ppdb_syarat_container .ppdb_syarat_list {
  margin: 40px 0;
}
.ppdb_syarat_container .ppdb_syarat_list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ppdb_syarat_container .ppdb_syarat_list ul li {
  display: flex;
  align-items: center;
  gap: 14px;
}
.ppdb_syarat_container .ppdb_syarat_list ul li i {
  color: #eebd3d;
}

.alur_img {
  margin-top: 50px;
}
.alur_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ppdb_schedule .ppdb_schedule_list {
  margin-top: 50px;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card {
  margin-left: 70px;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information {
  width: 100%;
  padding: 40px;
  border: 1px solid #dddddd;
  position: relative;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information .icon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information h2 {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information .road_date {
  margin-top: 20px;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information .road_date .date {
  line-height: 24px;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information .road_date .date h4 {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}
.ppdb_schedule .ppdb_schedule_list .ppdb_schedule_card .information .road_date .date p {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  color: rgba(68, 68, 68, 0.431372549);
}

.ppdb_title_group h6 {
  color: rgba(68, 68, 68, 0.4705882353);
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.ppdb_title_group h2 {
  font-size: 28px;
  color: #444444;
  font-weight: 600;
}
.ppdb_title_group p {
  margin-top: 15px;
  font-size: 16px;
  color: rgba(68, 68, 68, 0.6039215686);
  line-height: 26px;
}

#kompetensi {
  background-color: rgba(234, 234, 234, 0.4);
  margin-top: 0px;
}

.kompetensi {
  padding: 40px 0 40px 0;
}
.kompetensi .kompetensi_title .title_group {
  padding: 30px 0 30px 0;
}
.kompetensi .kompetensi_list {
  padding: 0 0 30px 0;
}
.kompetensi .kompetensi_list .list:nth-child(1) {
  margin-bottom: 30px;
}
.kompetensi .kompetensi_list .list .icon {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.kompetensi .kompetensi_list .list .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.kompetensi .kompetensi_list .list h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #222222;
  margin-top: 20px;
}
.kompetensi .kompetensi_list .list p {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(68, 68, 68, 0.8666666667);
  line-height: 24px;
}
.kompetensi .kompetensi_list .list .btn {
  margin-top: 30px;
  color: #444444;
  cursor: pointer;
}
.kompetensi .kompetensi_list .list .btn:hover a,
.kompetensi .kompetensi_list .list .btn:hover i {
  transition: all ease;
  transition-duration: 300ms;
  color: #eebd3d;
}
.kompetensi .kompetensi_list .list .btn:hover i {
  margin-left: 10px;
}
.kompetensi .kompetensi_list .list .btn a {
  font-size: 14px;
  font-weight: 500;
  color: #444444;
}
.kompetensi .kompetensi_list .list .btn i {
  margin-left: 6px;
  font-size: 16px;
}

.fasilitas .title_group {
  width: 100%;
}
.fasilitas .title_group p {
  text-align: start;
}
.fasilitas .grid {
  margin-top: 40px;
}
.fasilitas .grid .facility_list {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  padding: 20px 24px 20px 24px;
  color: #444444;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.fasilitas .grid .facility_list i {
  margin-right: 20px;
}

#karyaSiswa {
  position: relative;
}

.karya_siswa {
  display: flex;
  flex-direction: column;
  position: relative;
}
.karya_siswa .container .control {
  width: 100%;
  padding: 50px 0 50px 0;
}
.karya_siswa .container .control .control_btn {
  display: none;
  gap: 10px;
  margin: 40px 0 15px 0;
}
.karya_siswa .container .control .control_btn .btn {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background-color: #eebd3d;
  cursor: pointer;
}
.karya_siswa .container .control .title_group p {
  margin-top: 20px;
  text-align: center;
}
.karya_siswa .blank {
  width: 40%;
  display: none;
}
.karya_siswa .list {
  width: 100%;
  position: relative;
}

.karyaSwiper .swiper-wrapper {
  width: 85%;
  margin: auto;
}
.karyaSwiper .swiper-wrapper .swiper-slide {
  padding: 20px 0 20px 0;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  aspect-ratio: 7/6;
  padding: 35px 30px 35px 30px;
  background-color: rgba(255, 217, 118, 0.2);
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card:hover {
  background-color: #ffd976;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card .text_group .icon {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card .text_group .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card .text_group h2 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  margin-top: 24px;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card .text_group p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  margin-top: 10px;
  color: rgba(68, 68, 68, 0.8196078431);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.karyaSwiper .swiper-wrapper .swiper-slide .karya_card .link {
  font-size: 14px;
  text-decoration: underline;
  color: rgba(68, 68, 68, 0.5764705882);
}

.testimoni {
  width: 100%;
}
.testimoni .title_group {
  justify-content: center;
  align-items: center;
}
.testimoni .title_group .title {
  text-align: center;
}

.testiSwiper .swiper-wrapper .swiper-slide {
  font-size: 18px;
  padding: 30px 25px 30px 25px;
  aspect-ratio: 6/4;
  margin: 50px 0 60px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card {
  width: 100%;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .text {
  font-size: 14px;
  font-weight: 300;
  color: rgba(68, 68, 68, 0.7098039216);
  text-align: justify;
  line-height: 24px;
  margin-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .profile {
  display: flex;
  align-items: center;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .profile .profile_icon {
  width: 50px;
  height: 50px;
  background-color: #dddddd;
  border-radius: 100px;
  overflow: hidden;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .profile .profile_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .profile .profile_name {
  margin-left: 20px;
  text-align: start;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .profile .profile_name h2 {
  font-size: 16px;
  font-weight: 800;
}
.testiSwiper .swiper-wrapper .swiper-slide .testi_card .profile .profile_name p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5607843137);
  margin-top: 5px;
}

.berita_list {
  margin-top: 50px;
}
.berita_list .berita_card .berita_img {
  position: relative;
  aspect-ratio: 7/4;
  background-color: #dddddd;
  overflow: hidden;
  cursor: pointer;
}
.berita_list .berita_card .berita_img:hover img {
  transform: scale(1.1);
}
.berita_list .berita_card .berita_img .darken-sm {
  z-index: 10;
}
.berita_list .berita_card .berita_img .berita_category {
  position: absolute;
  top: 18px;
  left: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 18px 10px 18px;
  background-color: rgba(255, 255, 255, 0.3215686275);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  z-index: 10;
}
.berita_list .berita_card .berita_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.berita_list .berita_card .berita_desc {
  padding: 25px 20px 25px 20px;
  text-align: justify;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.berita_list .berita_card .berita_desc a {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
  text-decoration: none;
}
.berita_list .berita_card .berita_desc a:hover {
  color: #eebd3d;
}
.berita_list .berita_card .berita_desc p {
  color: rgba(68, 68, 68, 0.7803921569);
  line-height: 26px;
  margin-top: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.contact .contact_grid {
  margin-top: 50px;
}
.contact .contact_grid .contact_form {
  position: relative;
  order: 2;
  margin-top: 20px;
}
.contact .contact_grid .contact_form form {
  width: 100%;
}
.contact .contact_grid .contact_form form .form_control {
  width: 100%;
  font-size: 16px;
  padding: 16px 20px 16px 20px;
  border: 1px solid #dddddd;
  outline: none;
  color: #444444;
}
.contact .contact_grid .contact_form form .form_control::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5254901961);
}
.contact .contact_grid .contact_form form .form_control:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5254901961);
}
.contact .contact_grid .contact_form form .form_control::placeholder {
  color: rgba(68, 68, 68, 0.5254901961);
}
.contact .contact_grid .contact_form form textarea {
  width: 100%;
}
.contact .contact_grid .contact_form form .btn-submit {
  bottom: -75px;
  margin-top: 20px;
  background-color: #eebd3d;
  padding: 16px 30px 16px 30px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
.contact .contact_grid .maps {
  position: relative;
  background-color: #dddddd;
  aspect-ratio: 4/3;
}
.contact .contact_grid .maps iframe {
  position: relative;
  z-index: 1;
}
.contact .contact_grid .maps .background {
  width: 150px;
  height: 250px;
  background-color: #eebd3d;
  position: absolute;
  z-index: -1;
  top: -35px;
  right: -25px;
}
.contact .contact_info {
  margin-top: 50px;
}
.contact .contact_info .card_contact_info {
  background-color: rgba(241, 241, 241, 0.3019607843);
  padding: 20px 30px;
}
.contact .contact_info .card_contact_info i {
  color: #eebd3d;
}
.contact .contact_info .card_contact_info .desc {
  margin-left: 30px;
}
.contact .contact_info .card_contact_info .desc h2 {
  font-size: 16px;
  font-weight: 600;
  color: #444444;
}
.contact .contact_info .card_contact_info .desc p {
  font-size: 14px;
  color: #888888;
  margin-top: 4px;
}

.sponsor {
  align-items: center;
  align-content: center;
}
.sponsor .sponsor_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sponsor .sponsor_icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100);
}
.sponsor .sponsor_icon img:hover {
  filter: grayscale(0);
}

footer {
  margin-top: 80px;
  background-color: #333333;
}

.footer {
  padding: 80px 0 80px 0;
}
.footer .footer_title .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer_title .profile .icon {
  width: 80px;
  height: 80px;
}
.footer .footer_title .profile .icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer_title .profile h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-align: center;
  margin-top: 20px;
}
.footer .footer_title p {
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8235294118);
  margin-top: 30px;
}
.footer .footer_title .sosmed_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 24px;
}
.footer .footer_title .sosmed_group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2549019608);
  width: 42px;
  height: 42px;
}
.footer .footer_nav .nav_menu {
  cursor: pointer;
}
.footer .footer_nav .nav_menu h2 {
  font-size: 20px;
  font-weight: 800;
  color: #eebd3d;
}
.footer .footer_nav .nav_menu .nav_item {
  margin-top: 24px;
  text-decoration: none;
}
.footer .footer_nav .nav_menu .nav_item:hover i {
  color: #eebd3d;
}
.footer .footer_nav .nav_menu .nav_item:hover span {
  transition: all;
  transition-duration: 400ms;
  color: #ffffff;
}
.footer .footer_nav .nav_menu .nav_item span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6666666667);
  margin-left: 10px;
}
.footer .footer_nav .nav_menu .nav_item p {
  font-size: 14px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.6666666667);
  line-height: 26px;
}

.copyright {
  padding: 40px 0 40px 0;
  color: #ffffff;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3725490196);
  text-align: center;
}

.pages_header {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}

.pages_nav {
  padding: 50px 0 50px 0;
  background-color: rgba(0, 0, 0, 0.8078431373);
}
.pages_nav h2 {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}
.pages_nav .nav {
  margin-top: 20px;
}
.pages_nav .nav a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7450980392);
  text-decoration: none;
  transition: all 300ms;
}
.pages_nav .nav a:hover {
  color: #ffffff;
}
.pages_nav .nav i {
  font-size: 10px;
}
.pages_nav .nav .active {
  color: #ffffff !important;
}

.news_page_nav .nav {
  margin-top: 0px;
}
.news_page_nav .news_title {
  font-size: 24px;
  line-height: 42px;
  margin-top: 20px;
}
.news_page_nav .detail {
  margin-top: 20px;
}
.news_page_nav .detail .subdetail p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8039215686);
  margin-left: 10px;
}

.profil_sekolah {
  margin-top: 50px;
}
.profil_sekolah .text_group {
  order: 2;
}
.profil_sekolah .text_group p {
  text-align: justify;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7098039216);
  margin-bottom: 20px;
  line-height: 26px;
}
.profil_sekolah .video_profile {
  position: relative;
  aspect-ratio: 9/5;
  background-color: #dddddd;
  overflow: hidden;
}
.profil_sekolah .video_profile .control_btn {
  width: 100%;
  height: 100%;
  position: absolute;
}
.profil_sekolah .video_profile .control_btn .yt_play_btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.school_stat {
  margin-top: 60px;
}
.school_stat .card_stat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 6/3;
  background-color: rgba(255, 209, 91, 0.2);
  overflow: hidden;
  padding: 35px 30px 35px 30px;
}
.school_stat .card_stat .icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.school_stat .card_stat h2 {
  font-size: 34px;
  font-weight: 500;
}
.school_stat .card_stat p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.article_wrapper .banner_img {
  margin-top: 30px;
  aspect-ratio: 6/4;
  background-color: #dddddd;
}
.article_wrapper .article_text {
  margin-top: 40px;
}
.article_wrapper .watermark {
  margin-top: 70px;
  color: rgba(68, 68, 68, 0.7921568627);
}
.article_wrapper .line {
  width: 100%;
  height: 1px;
  background-color: rgba(68, 68, 68, 0.2549019608);
  margin-top: 40px;
  margin-left: 0px;
}
.article_wrapper .visimisi {
  margin-top: 50px;
}
.article_wrapper .visimisi h2 {
  font-size: 20px;
  font-weight: 600;
}
.article_wrapper .visimisi p,
.article_wrapper .visimisi li {
  color: rgba(68, 68, 68, 0.7215686275);
  line-height: 26px;
  margin-top: 20px;
  text-align: justify;
}
.article_wrapper .visimisi ul {
  list-style-position: inside;
  margin-left: 5px;
}
.article_wrapper .pengurus {
  margin-top: 50px;
}
.article_wrapper .pengurus .pengurus_card {
  align-items: center;
  border: 1px solid #dddddd;
  padding: 18px;
  aspect-ratio: 3/1;
}
.article_wrapper .pengurus .pengurus_card .profile_img {
  aspect-ratio: 8/9;
  background-color: #dadada;
}
.article_wrapper .pengurus .pengurus_card .bio p {
  color: rgba(68, 68, 68, 0.6117647059);
  font-size: 12px;
  line-height: 28px;
}
.article_wrapper .pengurus .pengurus_card .bio h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
.article_wrapper .pengurus .pengurus_card .bio .sosmed_group {
  margin-top: 15px;
}
.article_wrapper .pengurus .pengurus_card .bio .sosmed_group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  aspect-ratio: 1/1;
  background-color: rgba(238, 189, 61, 0.2);
  border-radius: 10px;
  text-decoration: none;
}
.article_wrapper .pengurus .pengurus_card .bio .sosmed_group .icon i {
  color: #eebd3d;
}

.head_about .desc .text_group {
  text-align: justify;
  color: rgba(68, 68, 68, 0.7529411765);
}
.head_about .desc .text_group p,
.head_about .desc .text_group a {
  margin-top: 40px;
}
.head_about .desc .text_group .btn {
  background-color: #eebd3d;
  color: #ffffff;
  text-decoration: none;
}
.head_about .banner {
  aspect-ratio: 4/5;
  background-color: #dddddd;
  overflow: hidden;
  position: relative !important;
  border-radius: 24px;
  margin-top: 50px;
}
.head_about .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.head_about .banner .namecard {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
}
.head_about .banner .namecard p {
  color: rgba(255, 255, 255, 0.7882352941);
  font-size: 14px;
}
.head_about .banner .namecard h6 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.study_program {
  margin-top: 50px;
}
.study_program .card {
  padding: 45px 32px;
  background-color: rgba(217, 217, 217, 0.2);
  text-align: center;
  cursor: pointer;
}
.study_program .card:hover {
  background-color: rgba(238, 188, 61, 0.6235294118);
}
.study_program .card .icon {
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
}
.study_program .card .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.study_program .card h2 {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}
.study_program .card p {
  font-size: 14px;
  color: rgba(68, 68, 68, 0.8078431373);
  margin-top: 10px;
  line-height: 24px;
}

.jurusan_karya {
  background-color: rgba(221, 221, 221, 0.231372549);
  padding: 60px 0;
}
.jurusan_karya .showcase_wrapper .control .desc {
  margin-top: 20px;
}
.jurusan_karya .showcase_wrapper .control .desc p {
  color: rgba(68, 68, 68, 0.7333333333);
  text-align: justify;
  line-height: 26px;
}
.jurusan_karya .showcase_wrapper .control .jurusan_control_btn {
  display: none;
  gap: 10px;
  margin: 40px 0 15px 0;
}
.jurusan_karya .showcase_wrapper .control .jurusan_control_btn .btn {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background-color: #eebd3d;
  cursor: pointer;
}
.jurusan_karya .showcase_wrapper .project {
  aspect-ratio: 1/1;
  position: relative;
}
.jurusan_karya .showcase_wrapper .project .card_project {
  width: 100%;
  height: 100%;
  background-color: #aeaeae;
  cursor: pointer;
}

.join_us_section {
  padding: 30px;
  background-color: rgba(217, 217, 217, 0.4);
}
.join_us_section .control {
  margin-top: 40px;
}
.join_us_section .control p {
  margin-top: 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 26px;
  color: rgba(68, 68, 68, 0.7254901961);
}
.join_us_section .control .btn {
  margin-top: 30px;
  background-color: #eebd3d;
  color: #ffffff;
  text-decoration: none;
}
.join_us_section .banner {
  aspect-ratio: 1/1;
  background-color: #aeaeae;
}

.galery_list .card {
  aspect-ratio: 5/3;
  background-color: #dddddd;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.galery_list .card:hover img {
  transform: scale(1.1);
}
.galery_list .card:hover .detail {
  opacity: 1;
}
.galery_list .card:hover .detail i {
  margin-right: 5px;
}
.galery_list .card:hover .title {
  opacity: 0;
}
.galery_list .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 300ms;
}
.galery_list .card .title {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.galery_list .card .detail {
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6117647059);
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.ekskul_program .img_group {
  aspect-ratio: 1/1;
  gap: 20px;
}
.ekskul_program .img_group .galery {
  border-radius: 16px 0px;
  background-color: #dddddd;
}
.ekskul_program .list ul {
  list-style: inside;
  margin-top: 25px;
}
.ekskul_program .list ul li {
  font-size: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.7725490196);
  margin-bottom: 15px;
}

.ekskul_structure {
  margin-top: 40px;
}
.ekskul_structure .card_structure {
  padding: 20px;
  border: 1px solid #dddddd;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.ekskul_structure .card_structure p {
  font-size: 14px;
  color: rgba(68, 68, 68, 0.4588235294);
  margin-top: 20px;
}
.ekskul_structure .card_structure h6 {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
  line-height: 30px;
}
.ekskul_structure .card_structure .img_border {
  aspect-ratio: 5/4;
  background-color: #d9d9d9;
  overflow: hidden;
}
.ekskul_structure .card_structure .img_border img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prestasi_list {
  align-items: flex-start;
  grid-template-rows: auto;
}
.prestasi_list .card_prestasi {
  aspect-ratio: 5/3;
}
.prestasi_list .card_prestasi .img_border {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #5c5c5c;
  overflow: hidden;
  cursor: pointer;
}
.prestasi_list .card_prestasi .img_border .darken-sm {
  z-index: 1;
}
.prestasi_list .card_prestasi .img_border img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 300ms;
}
.prestasi_list .card_prestasi .desc_prestasi {
  position: relative;
  bottom: 40px;
  width: 85%;
  padding: 30px 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: all 300ms;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
.prestasi_list .card_prestasi .desc_prestasi .border {
  width: 100%;
  height: 4px;
  background-color: #eebd3d;
  position: absolute;
  top: -4px;
  left: 0;
  transition: all 300ms;
}
.prestasi_list .card_prestasi .desc_prestasi h2 {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  margin-top: 12px;
}
.prestasi_list .card_prestasi .desc_prestasi ul {
  list-style: none;
  margin-top: 20px;
}
.prestasi_list .card_prestasi .desc_prestasi ul li {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(68, 68, 68, 0.7843137255);
}
.prestasi_list .card_prestasi:hover .img_border img {
  transform: scale(1.1);
}
.prestasi_list .card_prestasi:hover .desc_prestasi .border {
  top: 0px;
}

.berita .berita_group .berita_banner {
  aspect-ratio: 3/2;
}
.berita .berita_group .berita_banner .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.berita .berita_group .berita_banner .swiper-wrapper .card_news_banner {
  background-color: #dddddd;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.berita .berita_group .berita_banner .swiper-wrapper .card_news_banner .title_news_banner {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
.berita .berita_group .berita_banner .swiper-wrapper .card_news_banner .title_news_banner h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 30px;
  text-align: center;
}
.berita .berita_group .berita_banner .swiper-wrapper .card_news_banner .title_news_banner .date p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6078431373);
  margin-left: 10px;
}
.berita .berita_group .berita_banner .swiper-wrapper .card_news_banner:hover img {
  transform: scale(1.1);
  transition: all 500ms;
}
.berita .berita_group .berita_banner .swiper-button-next,
.berita .berita_group .berita_banner .swiper-button-prev {
  color: #ffffff;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 40px;
}
.berita .berita_group .berita_pagination {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.berita .berita_group .berita_pagination .btn_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 14px;
  border: 1px solid rgba(68, 68, 68, 0.5607843137);
  text-decoration: none;
  transition: all 400ms;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #444444;
}
.berita .berita_group .berita_pagination .btn_page:hover {
  background-color: #eebd3d;
  color: #ffffff;
  border: none;
}
.berita .berita_group .berita_pagination .btn_page:hover i {
  color: #ffffff;
}
.berita .berita_group .berita_pagination .btn_page i {
  color: #444444;
}
.berita .berita_group .berita_pagination .active {
  background-color: #eebd3d;
  color: #ffffff;
  border: none;
}
.berita .berita_group .berita_artikel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: rgba(68, 68, 68, 0.8117647059);
  text-align: justify;
}
.berita .berita_group .berita_artikel .mark {
  margin-top: 50px;
  font-style: italic;
}
.berita .berita_group .berita_artikel .line {
  margin-top: 50px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.berita .berita_group .berita_comment_form {
  margin-top: 50px;
}
.berita .berita_group .berita_comment_form .title {
  display: flex;
  align-items: center;
}
.berita .berita_group .berita_comment_form .title i {
  color: #444444;
}
.berita .berita_group .berita_comment_form .title div {
  margin-left: 20px;
}
.berita .berita_group .berita_comment_form .title div h2 {
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.berita .berita_group .berita_comment_form .title div p {
  font-size: 12px;
  color: rgba(68, 68, 68, 0.7450980392);
}
.berita .berita_group .berita_comment_form .form_container {
  width: 100%;
  margin-top: 20px;
}
.berita .berita_group .berita_comment_form .form_container textarea {
  resize: none;
}
.berita .berita_group .berita_comment_form .form_container .form_group {
  margin-top: 20px;
  gap: 20px;
}
.berita .berita_group .berita_comment_form .form_container .form_control {
  width: 100%;
  font-size: 14px;
  padding: 16px 20px 16px 20px;
  border: 1px solid #dddddd;
  outline: none;
  color: #444444;
}
.berita .berita_group .berita_comment_form .form_container .form_control::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5254901961);
}
.berita .berita_group .berita_comment_form .form_container .form_control:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5254901961);
}
.berita .berita_group .berita_comment_form .form_container .form_control::placeholder {
  color: rgba(68, 68, 68, 0.5254901961);
}
.berita .berita_group .berita_comment_form .form_container .btn_submit {
  font-size: 14px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #eebd3d;
  padding: 15px 20px;
  margin-top: 20px;
}
.berita .berita_group .berita_title_group {
  margin-top: 50px;
}
.berita .berita_menu {
  margin-top: 20px;
}
.berita .berita_menu .search_box {
  border: 1px solid #333333;
  align-items: center;
  height: 100%;
  position: relative;
}
.berita .berita_menu .search_box input {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  padding: 0 12px;
}
.berita .berita_menu .search_box input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.7137254902);
  font-size: 14px;
}
.berita .berita_menu .search_box input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.7137254902);
  font-size: 14px;
}
.berita .berita_menu .search_box input::placeholder {
  color: rgba(68, 68, 68, 0.7137254902);
  font-size: 14px;
}
.berita .berita_menu .search_box .btn_search {
  outline: none;
  border: none;
  width: 45px;
  height: 45px;
  background-color: #333333;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.berita .berita_menu .berita_title_group {
  margin-top: 50px;
}
.berita .berita_menu .agenda_group {
  margin-top: 20px;
}
.berita .berita_menu .agenda_group .card_agenda {
  display: flex;
  align-items: center;
  padding: 30px 24px;
  border: 1px solid #dddddd;
}
.berita .berita_menu .agenda_group .card_agenda .title {
  margin-left: 20px;
}
.berita .berita_menu .agenda_group .card_agenda .title p {
  font-size: 12px;
  color: rgba(68, 68, 68, 0.5647058824);
}
.berita .berita_menu .agenda_group .card_agenda .title h2 {
  font-size: 16px;
  font-weight: 600;
  color: #444444;
}
.berita .berita_menu .category_group {
  margin-top: 20px;
  list-style: none;
  margin-left: 5px;
}
.berita .berita_menu .category_group li {
  margin-top: 20px;
}
.berita .berita_menu .category_group li a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.5843137255);
  transition: all 400ms;
}
.berita .berita_menu .category_group li a:hover {
  color: #eebd3d;
}

.berita_galery {
  margin-top: 50px;
}
.berita_galery .berita_border {
  position: relative;
  aspect-ratio: 3/2;
  overflow: hidden;
}
.berita_galery .berita_border img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.berita_galery .berita_border:hover img {
  transform: scale(1.2);
  transition: all 500ms;
}
.berita_galery .berita_border .berita_desc {
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  z-index: 2;
}
.berita_galery .berita_border .berita_desc .category {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  background-color: #eebd3d;
}
.berita_galery .berita_border .berita_desc .title {
  display: flex;
  flex-direction: column;
}
.berita_galery .berita_border .berita_desc .title h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.berita_galery .berita_border .berita_desc .title .date p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6078431373);
  margin-left: 10px;
}

.berita_title_group {
  display: flex;
  align-items: center;
}
.berita_title_group .line {
  width: 4px;
  height: 32px;
  background-color: #eebd3d;
}
.berita_title_group .title {
  margin-left: 10px;
}
.berita_title_group .title p {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.568627451);
  font-weight: 600;
}
.berita_title_group .title h2 {
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}

@media (min-width: 768px) {
  section {
    margin-top: 120px;
  }
  nav {
    height: 100px;
  }
  .header_items .header_btn {
    flex-direction: row !important;
    gap: 20px;
  }
  .header_items .header_btn .btn {
    width: 100%;
  }
  .ppdb_header_content .ppdb_title h3 {
    font-size: 18px;
  }
  .ppdb_header_content .ppdb_title h1 {
    font-size: 54px !important;
    line-height: 64px !important;
  }
  .ppdb_header_content .ppdb_title .btn_group {
    flex-direction: row !important;
  }
  .ppdb_header_content .ppdb_banner {
    width: 60%;
    margin: 0 auto;
  }
  .ppdb_header_content .blue_circle_blurred,
.ppdb_header_content .yellow_circle_blurred {
    width: 500px;
    height: 500px;
    top: -150px;
    filter: blur(200px);
  }
  .ppdb_header_content .blue_circle_blurred {
    right: -300px;
  }
  .ppdb_header_content .yellow_circle_blurred {
    top: 80px;
    left: -250px;
  }
  .ppdb_syarat_container .ppdb_syarat_list {
    margin: 0 !important;
  }
  .ppdb_syarat_container .ppdb_syarat_list ul {
    margin: 40px 0;
  }
  .ppdb_title_group h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .ppdb_title_group h2 {
    font-size: 32px;
  }
  .ppdb_title_group p {
    margin-top: 20px;
  }
  .kompetensi {
    padding: 60px 0 60px 0;
  }
  .kompetensi .kompetensi_title {
    border-right: 1px solid rgba(68, 68, 68, 0.2862745098);
  }
  .kompetensi .kompetensi_title .title_group {
    width: 80%;
  }
  .kompetensi .kompetensi_list {
    padding: 0 !important;
  }
  .kompetensi .kompetensi_list .list:nth-child(1) {
    margin-bottom: 0px !important;
  }
  .fasilitas .title_group {
    width: 60%;
  }
  .fasilitas .title_group p {
    text-align: start;
  }
  .karya_siswa {
    flex-direction: row;
    gap: 50px;
  }
  .karya_siswa .container {
    position: absolute !important;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .karya_siswa .container .control {
    width: 35%;
    padding: 0px !important;
  }
  .karya_siswa .container .control .control_btn {
    display: flex;
  }
  .karya_siswa .container .title_group {
    text-align: start !important;
  }
  .karya_siswa .container .title_group .title {
    justify-content: flex-start !important;
  }
  .karya_siswa .container .title_group p {
    text-align: start !important;
  }
  .karya_siswa .blank {
    display: flex;
  }
  .karya_siswa .list {
    width: 60% !important;
  }
  .karyaSwiper .swiper-wrapper {
    width: 100%;
    margin: 0;
    margin-left: 40px !important;
  }
  .karyaSwiper .swiper-wrapper .swiper-slide .karya_card {
    aspect-ratio: 8/10;
  }
  .contact_form {
    margin-top: 0px !important;
  }
  .contact_info {
    margin-top: 100px !important;
  }
  .maps {
    order: 2 !important;
    aspect-ratio: auto !important;
  }
  footer {
    margin-top: 120px;
  }
  .footer_title .profile {
    flex-direction: row !important;
  }
  .footer_title .profile h2 {
    margin-top: 0px !important;
    margin-left: 26px;
    text-align: start !important;
  }
  .footer_title p {
    text-align: justify !important;
  }
  .footer_title .sosmed_group {
    justify-content: flex-start !important;
  }
  .pages_nav {
    padding: 100px 0 100px 0;
  }
  .pages_nav h2 {
    font-size: 42px;
  }
  .pages_nav .nav a {
    font-size: 14px;
  }
  .profil_sekolah .video_profile {
    order: 2 !important;
  }
  .school_stat {
    margin-top: 100px;
  }
  .school_stat .card_stat {
    align-items: flex-start;
    aspect-ratio: 5/3;
  }
  .school_stat .card_stat h2 {
    font-size: 36px;
  }
  .school_stat .card_stat p {
    font-size: 18px;
    margin-top: 10px;
  }
  .article_wrapper {
    width: 85%;
    margin: auto;
  }
  .article_wrapper .banner_img {
    margin-top: 50px;
    aspect-ratio: 6/2 !important;
  }
  .pengurus .pengurus_card {
    padding: 24px !important;
  }
  .pengurus .pengurus_card .bio p {
    font-size: 14px;
  }
  .pengurus .pengurus_card .bio h2 {
    font-size: 20px;
  }
  .pengurus .pengurus_card .bio .sosmed_group {
    margin-top: 20px;
  }
  .head_about .banner {
    margin-top: 0px !important;
  }
  .jurusan_karya {
    padding: 100px 0;
  }
  .jurusan_karya .showcase_wrapper .project {
    aspect-ratio: 4/2;
  }
  .jurusan_karya .showcase_wrapper .project .swiper-pagination {
    display: none !important;
  }
  .jurusan_karya .showcase_wrapper .control .title_group h2 {
    width: 70%;
  }
  .jurusan_karya .showcase_wrapper .control .jurusan_control_btn {
    display: flex;
  }
  .join_us_section {
    padding: 50px;
  }
  .join_us_section .control {
    margin-top: 0;
  }
  .join_us_section .control .title_group h2 {
    width: 100% !important;
  }
  .join_us_section .control p {
    font-size: 18px;
  }
  .join_us_section .control .btn {
    margin-top: 20px;
  }
  .join_us_section .banner {
    aspect-ratio: 2/1;
  }
  .galery_list .card .title {
    font-size: 20px;
  }
  .ekskul_structure {
    margin-top: 80px;
  }
  .ekskul_structure .card_structure:nth-child(1) {
    margin-top: 80px;
  }
  .ekskul_structure .card_structure:nth-child(3) {
    margin-top: 80px;
  }
  .prestasi_list .card_prestasi .desc_prestasi {
    width: 70%;
    padding: 40px 35px;
  }
  .berita_group .berita_banner {
    aspect-ratio: 3/1 !important;
  }
  .berita_group .berita_banner .swiper-wrapper .card_news_banner .title_news_banner h2 {
    width: 50%;
  }
  .berita_group .berita_artikel {
    font-size: 16px !important;
  }
  .berita_group .berita_comment_form .form_container .form_control {
    font-size: 16px !important;
  }
  .berita_group .berita_comment_form .form_container .btn_submit {
    font-size: 16px !important;
  }
  .berita_galery .berita_border .berita_desc {
    padding: 30px 35px;
  }
  .berita_galery .berita_border .berita_desc .title h2 {
    font-size: 20px;
  }
}
@media (min-width: 1040px) {
  .home_header {
    height: 820px;
  }
  .ppdb_header {
    height: 820px;
    margin-top: 0px;
  }
  .ppdb_header_content .ppdb_banner {
    width: 100%;
    order: 2 !important;
  }
  .navbar .nav_hidden {
    transform: translateY(0%);
  }
  .navbar .toggle_open {
    display: none;
  }
  .navbar .nav_menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    position: relative;
    background-color: transparent;
    overflow-y: visible;
    padding-bottom: 0px;
  }
  .navbar .nav_menu .container {
    width: 100% !important;
    display: flex;
    align-items: center;
  }
  .navbar .nav_menu .container .sidebar {
    display: none;
  }
  .navbar .nav_menu .container .nav_items {
    flex-direction: row;
    align-items: center;
  }
  .navbar .nav_menu .container .nav_items .dropdown .dropdown-content {
    position: absolute;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    top: 30px;
    padding: 20px;
  }
  .navbar .nav_menu .container .nav_items li .nav_link {
    color: rgba(0, 0, 0, 0.8274509804);
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .navbar .nav_menu .container .nav_items li .nav_link:hover {
    color: #000000;
  }
  .navbar .nav_menu .container .nav_items li .nav_link i {
    color: #000000;
  }
  .navbar .nav_menu .container .nav_items li .link_v2 {
    color: rgba(255, 255, 255, 0.6784313725);
  }
  .navbar .nav_menu .container .nav_items li .link_v2:hover {
    color: #ffffff;
  }
  .navbar .nav_menu .container .nav_items li .link_v2 i {
    color: #ffffff;
  }
  .navbar .nav_menu .container .nav_items .btn {
    margin-top: 0px !important;
  }
  .navbar .nav_menu .container .nav_items .active {
    font-weight: 400 !important;
    color: #000000 !important;
  }
  .navbar .nav_menu .container .nav_items .active_v2 {
    font-weight: 400 !important;
    color: #ffffff !important;
  }
  .navbar .nav_menu .container .nav_items .btn_v2 {
    background-color: rgba(255, 255, 255, 0.3843137255);
    color: #ffffff;
  }
  .navbar .nav_menu .container .nav_items .btn_v2:hover {
    background-color: #eebd3d;
  }
  .header_content .container {
    align-items: center;
  }
  .header_content .container .header_items {
    width: 50%;
  }
  .header_content .container .header_items .header_btn {
    gap: 0px;
  }
  .header_content .container .header_items .header_btn .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 20px;
  }
  .header_content .container .header_items h1 {
    font-size: 48px !important;
  }
  .header_content .container .header_items p {
    font-size: 18px !important;
  }
  .header_content .container .header_items .title p {
    font-size: 16px !important;
  }
  .sambutan {
    gap: 180px;
  }
  .fasilitas .title_group {
    width: 40%;
  }
  .fasilitas .title_group p {
    text-align: start;
  }
  .berita .berita_menu {
    margin-top: 120px;
  }
  .copyright {
    text-align: start !important;
  }
  .jurusan_karya .showcase_wrapper .project {
    aspect-ratio: 5/4;
  }
  .join_us_section .title_group h2 {
    width: 70% !important;
  }
  .join_us_section .banner {
    order: 2;
    aspect-ratio: 1/1;
  }
  .news_page_nav .news_title {
    font-size: 42px;
    line-height: 52px;
    width: 50% !important;
  }
}
@media (min-width: 1536px) {
  .home_header {
    height: 900px;
  }
  nav {
    height: 120px;
  }
  .container {
    width: 80%;
  }
  .testiSwiper .swiper-wrapper .swiper-slide {
    aspect-ratio: 6/3;
  }
  .berita_card .berita_img {
    aspect-ratio: 6/3 !important;
  }
}
@media (min-width: 2036px) {
  .container {
    width: 70%;
  }
  .testiSwiper .swiper-wrapper .swiper-slide {
    aspect-ratio: auto;
  }
  .karya_card {
    aspect-ratio: auto !important;
  }
}
@media (min-width: 2536px) {
  .container {
    width: 50%;
  }
  .testiSwiper .swiper-wrapper .swiper-slide {
    aspect-ratio: auto;
  }
}
@media (min-width: 3036px) {
  .container {
    width: 25%;
  }
  .testiSwiper .swiper-wrapper .swiper-slide {
    aspect-ratio: auto;
  }
}/*# sourceMappingURL=style.css.map */